<div class="cards">
  <div class="card">
    <div class="card-image">
      <%= image_tag("image1.jpg") %>
    </div>
    <div class="card-header">
      Research
    </div>
    <div class="card-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <%= image_tag("image1.jpg") %>
    </div>
    <div class="card-header">
      Projects
    </div>
    <div class="card-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
    </div>
  </div>
</div>
<div class="cards">
  <div class="card">
    <div class="card-image">
      <%= image_tag("image2.jpg") %>
    </div>
    <div class="card-header">
      Publications
    </div>
    <div class="card-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <%= image_tag("image4.jpg") %>
    </div>
    <div class="card-header">
      People
    </div>
    <div class="card-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  </div>
</div>