<div id="contact">
    <br>
    <div id="contact-map">
        <div id="map_canvas" style="{border-width: 12px;}"></div>
    </div>
    <div id="contact-information">
        <br><br><p id="ttl">Informatics Laboratory</p>
        <p> Electrical and Computer Engineering Department<br>
            University of New Mexico</p>
        <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> 498 Terrace Street NE<br>
        ECE bldg, Room: 218<br>
        Albuquerque, NM 87106</p>
        <p> <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Telephone: (505) 277-2436<br>
          <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Fax: (505) 277-1439<br>
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> E-mail: info@ece.unm.edu
        </p>
    </div>
</div>

<script>
          var bittersMap = (function () {
            var myLatlng = new google.maps.LatLng(35.083210, -106.624658),
                mapCenter = new google.maps.LatLng(35.083601, -106.622634),
                mapCanvas = document.getElementById('map_canvas'),
                mapOptions = {
                  center: mapCenter,
                  zoom: 16,
                  scrollwheel: true,
                  draggable: true,
                  disableDefaultUI: true,
                  mapTypeId: google.maps.MapTypeId.ROADMAP
                },
                map = new google.maps.Map(mapCanvas, mapOptions),
                contentString =
                  '<div id="content">'+
                  '<div id="siteNotice">'+
                  '</div>'+
                  '<h1 id="firstHeading" class="firstHeading">ECE Department</h1>'+
                  '<div id="bodyContent"'+
                  '<p>UNM Main Campus</p>'+
                  '</div>'+
                  '</div>',
                infowindow = new google.maps.InfoWindow({
                  content: contentString,
                  maxWidth: 1000
                }),
                marker = new google.maps.Marker({
                  position: myLatlng,
                  map: map,
                  title: 'ECE'
                });

            return {
              init: function () {
                map.set('styles', [{
                  featureType: 'landscape',
                  elementType: 'geometry',
                  stylers: [
                    { hue: '#ffff00' },
                    { saturation: 30 },
                    { lightness: 10}
                  ]}
                ]);

                google.maps.event.addListener(marker, 'click', function () {
                  infowindow.open(map,marker);
                });
              }
            };
          }());

          bittersMap.init();
</script>

